Repository Refactorio/RedMew, pull requests merged in 2018-11, with the labels that each got.

#308 Force diggy biters to spawn, even if there's no space
  map_gen/Diggy/Feature/AlienSpawner.lua
  map_gen/Diggy/Template.lua
Labels: Diggy

#313 Fixed some small things from feedback and issues
  map_gen/Diggy/Config.lua
  map_gen/Diggy/Feature/MarketExchange.lua
  map_gen/Diggy/Feature/ScatteredResources.lua
  map_gen/Diggy/Feature/SimpleRoomGenerator.lua
  map_gen/Diggy/Template.lua
Labels: Diggy

#323 Fixed oil spawn in Diggy
  map_gen/Diggy/Feature/ScatteredResources.lua
Labels: Diggy, Fix

#339 Redraw stone sent to surface GUI on stone sent
  map_gen/Diggy/Feature/MarketExchange.lua
Labels: Diggy

#341 Created a compound cluster mode for scattered resources.
  map_gen/Diggy/Config.lua
  map_gen/Diggy/Feature/ScatteredResources.lua
  map_gen/Diggy/Orepattern/Clusters.lua
  map_gen/Diggy/Orepattern/Tendrils.lua
Labels: Diggy

#380 Move level up logic outside of unlock check loop
  map_gen/Diggy/Feature/MarketExchange.lua
Labels: Diggy

#384 Fixes how generating big rocks causes multiple ores to be spawned on …
  map_gen/Diggy/Feature/DiggyHole.lua
Labels: Diggy

#385 Added iron-axe to market
  map_gen/Diggy/Config.lua
Labels: Diggy

#390 Changed the level up chat messages for diggy
  map_gen/Diggy/Feature/MarketExchange.lua
Labels: Diggy

#391 Mining related improvements
  map_gen/Diggy/Config.lua
  map_gen/Diggy/Feature/DiggyCaveCollapse.lua
  map_gen/Diggy/Feature/DiggyHole.lua
Labels: Diggy

#392 Changed first popup from full inventory to a ping
  map_gen/Diggy/Feature/DiggyHole.lua
Labels: Diggy

#434 Added bot mining
  map_gen/Diggy/Feature/DiggyCaveCollapse.lua
  map_gen/Diggy/Feature/DiggyHole.lua
Labels: Diggy, Feature

#424 Added particles when a biter mines a rock upon spawning
  map_gen/Diggy/Config.lua
  map_gen/Diggy/Feature/AlienSpawner.lua
  map_gen/Diggy/Feature/SetupPlayer.lua
Labels: Diggy, Feature

#402 Diggy - New leveling system
  CHANGELOG.md
  features/force_control.lua
  map_gen/Diggy/Config.lua
  map_gen/Diggy/Feature/DiggyHole.lua
  map_gen/Diggy/Feature/Experience.lua
  map_gen/Diggy/Feature/MarketExchange.lua
  map_gen/Diggy/MarketUnlockables.lua
  utils/game.lua
Labels: Diggy

#455 [Diggy] Tweaking Diggy controls
  features/force_control.lua
  map_gen/Diggy/Config.lua
  map_gen/Diggy/Feature/Experience.lua
Labels: Diggy

#479 Lowered uranium density in main vein
  map_gen/Diggy/Feature/DiggyCaveCollapse.lua
  map_gen/Diggy/Orepattern/Tendrils.lua
Labels: Diggy

#478 Added a crumbling effect from the ceiling when close to collapse
  features/create_particles.lua
  map_gen/Diggy/Feature/DiggyCaveCollapse.lua
Labels: Diggy

#481 Balancing changes
  map_gen/Diggy/Config.lua
  map_gen/Diggy/Feature/AlienSpawner.lua
Labels: Diggy
